---
layout: page
title: Blog
---
<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% else %}
		{% for post in site.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section>
---
layout: post
title: "Comment j’utilise Notion et Affinity Designer au quotidien"
date: 2025-06-15
categories: [Notion, Affinity Designer]
image: /images/blog-notion-affinity.png
---

## Mon workflow créatif

Dans cet article, je partage comment j’organise mes idées dans Notion et comment je réalise mes visuels sous Affinity Designer.

- Inspirations et organisation
- Astuces pour gagner du temps
- Ressources utiles

Bonne lecture !
